.sort {
  position: relative;
}
.sort__placeholder {
  display: flex;
  align-items: center;
}
.sort span {
  cursor: pointer;
}
.sort .popup {
  position: absolute;
  right: 0;
  margin-top: 25px;
  background-color: rgba(230, 77, 69, 0.9176470588);
  padding: 5px;
}
.sort .popup li {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
}
.sort .popup li:hover {
  background-color: #683436;
}
