.category {
  padding: 5px;
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      padding: 5px 15px;
      border-radius: 30px;
      cursor: pointer;
    }
    @media (max-width: 400px) {
      ul {
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        padding: 5px 10px;
      }
    }
  }
  .active {
    background-color: #683436;
  }
}
