.wrapper {
  display: flex;
  flex-direction: column;
}
.pagination {
  align-self: center;
  margin-bottom: 30px;
  button:hover {
    background-color: #e64d45 !important;
  }
}
.allproducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
  gap: 30px;
  padding: 50px 10px;
  justify-content: center;
}

.sort {
  position: relative;
  &__checkBox {
    &__icon {
      position: relative;
      top: 3px;
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    gap: 3px;
  }
  &__placeholder {
    cursor: pointer;
    display: flex;

    &__icon {
      position: relative;
      top: 3px;
    }
  }

  .popup {
    position: absolute;
    right: 0;
    margin-top: 25px;
    background-color: #e64d45ea;
    padding: 5px;
    li {
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 10px;
      &:hover {
        background-color: #683436;
      }
    }
  }
}
