.category {
  padding: 5px;
}
.category ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.category ul li {
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 400px) {
  .category ul ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .category ul li {
    padding: 5px 10px;
  }
}
.category .active {
  background-color: #683436;
}
